<div class="add_probe">
     <form>
          <table>
               <tr>
                    <td>Probe Type:</td>
                    <td><select style="width: 100%" ng-model="np.pt"
                         ng-options="t.name for t in probeTypes track by t.name"></select></td>
               </tr>
               <tr>
                    <td>Probe Category:</td>
                    <td><select style="width: 100%" ng-model="np.probeCategory"
                         ng-options="c.name for c in probeCategories track by c.name"></select></td>
               </tr>

               <tr>
                    <td>Artifact ID:</td>
                    <td><input type="text" ng-model="np.artifactId" /></td>
               </tr>
               <tr>
                    <td>Polling Interval</td>
                    <td><input type="text" ng-model="np.pollingInterval" /></td>
               </tr>
               <tr>
                    <td>Delay Time</td>
                    <td><input type="text" ng-model="np.delayTime" /></td>
               </tr>
               <tr>
                    <td>Enabled</td>
                    <td><input type="checkbox" ng-model="np.enabled" /></td>
               </tr>
               <tr
                    ng-show="np.pt && ( np.pt.name == 'Ping' || np.pt.name == 'PortMon')">
                    <td>Host</td>
                    <td><input type="text"
                         ng-model="np.customConfigurationTemp.HOST" /></td>
               </tr>
               <tr ng-show="np.pt && np.pt.name == 'PortMon'">
                    <td>Port</td>
                    <td><input type="text"
                         ng-model="np.customConfigurationTemp.PORT" /></td>
               </tr>
               <tr
                    ng-show="np.pt && np.pt.name == 'SQLQuery' || np.pt.name == 'RESTGet'">
                    <td>Key</td>
                    <td><select style="width: 100%" ng-model="np.probeKey"
                         ng-options="t.name for t in probeKeys track by t.name"></select></td>
               </tr>
               <tr
                    ng-show="np.pt && (np.pt.name == 'SQLQuery' || np.pt.name == 'RESTGet')">
                    <td>URL</td>
                    <td><input type="text"
                         ng-model="np.customConfigurationTemp.URL" /></td>
               </tr>
               <tr
                    ng-show="np.pt && (np.pt.name == 'SQLQuery' || np.pt.name == 'RESTGet')">
                    <td>EXPECTED</td>
                    <td><input type="text"
                         ng-model="np.customConfigurationTemp.EXPECTED" /></td>
               </tr>
               <tr ng-show="np.pt && np.pt.name == 'RESTGet'">
                    <td>PATH</td>
                    <td><input type="text"
                         ng-model="np.customConfigurationTemp.PATH" /></td>
               </tr>
               <tr ng-show="np.pt && (np.pt.name == 'SQLQuery' )">
                    <td>QUERY</td>
                    <td><input type="text"
                         ng-model="np.customConfigurationTemp.QUERY" /></td>
               </tr>
               <tr>
                    <td><input type="submit" value="{{action}}"
                         ng-click="doAction(np)"></td>
               </tr>
          </table>
     </form>
     <pre ng-show="error">ERROR: {{error | json}}</pre>
     <hr>
     <pre>{{foo | json}}</pre>
</div>
