<div class="container">
    <div class="add_probe panel panel-default">
        <div class="panel-heading bg">Manage Keys</div>
        <div class="panel-body">

            <div class="manage_keys">
                <table class="table-bordered ">
                    <tr>
                        <th>Key Name</th>
                        <th>User ID</th>
                        <th>password</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tbody ng-repeat="key in probeKeys">

                        <tr ng-show="! modify[key.id]">
                            <td>{{key.name}}</td>
                            <td>{{key.userId}}</td>
                            <td>********</td>
                            <td>********</td>
                            <td><input type="submit" value="edit" ng-click="updateKey(key)" /></td>
                        </tr>
                        <tr ng-show="modify[key.id]">
                            <td><input type="text" ng-model="key.name" /></td>
                            <td><input type="text" ng-model="key.userId" /></td>
                            <td><input type="password" ng-model="key.pw1" /></td>
                            <td><input type="password" ng-model="key.pw2" /></td>
                            <td><input type="submit" value="save" ng-click="saveKey(key)" /></td>

                        </tr>
                    </tbody>
                    <tr>
                        <td><input type="text" ng-model="newkey.name" /></td>
                        <td><input type="text" ng-model="newkey.userId" /></td>
                        <td><input type="password" ng-model="newkey.pw1" /></td>
                        <td><input type="password" ng-model="newkey.pw2" /></td>
                        <td><input type="submit" value="add" ng-click="addKey(newkey)" /></td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>

