<div class="container">
    <div class="manage_categories panel panel-default">
        <div class="panel-heading bg">Manage Categories</div>
        <div class="panel-body">
            <div class="manage_categories">
                <table class="table-bordered">
                    <tr>
                        <th>Category Name</th>
                        <th>Channel</th>
                        <th></th>
                    </tr>
                    <tbody ng-repeat="category in probeCategories">
                        <tr ng-show="! modify[category.id]">
                            <td>{{category.name}}</td>
                            <td>{{category.channel}}</td>
                            <td><input type="submit" value="edit" ng-click="updateCategory(category)" /></td>
                        </tr>
                        <tr ng-show="modify[category.id]">
                            <td><input type="text" ng-model="category.name" /></td>
                            <td><input type="text" ng-model="category.channel" /></td>
                            <td><input type="submit" value="save" ng-click="saveCategory(category)" /></td>
                        </tr>
                    </tbody>
                    <tr>
                        <td><input type="text" ng-model="newcat.name" /></td>
                        <td><input type="text" ng-model="newcat.channel" /></td>
                        <td><input type="submit" value="add" ng-click="addCategory(newcat)" /></td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>